@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  border-radius: 4px;
  transition: 0.2s all;
  outline: none;
  border: none;
  display: inline-block;
}
a {
  text-decoration: none;
  transition: 0.2s all;
  display: inline-block;
}
input,
textarea {
  transition: 0.2s all;
  border-radius: 4px;
  outline: none;
  padding: 0.3rem 0.5rem;
  background-color: rgb(246, 247, 252);
  border: 1px solid transparent;
}
input:focus,
textarea:focus {
  border: 1px solid rgb(164, 26, 19);
}
img {
  width: 100%;
  max-width: 100%;
}
